compute_db_mode = { Test = 0 }
storage_db_mode = { Test = 0 }
miner_db_mode = { Test = 0 }
user_db_mode = { Test = 1000 }
user_api_port = 3000
storage_api_port = 3001
compute_api_port = 3003
miner_api_port = 3004
compute_raft = 1
storage_raft = 1
compute_partition_full_size = 1
compute_minimum_miner_pool_len = 1
jurisdiction = "US"
backup_block_modulo = 4
#backup_restore = true

[compute_unicorn_fixed_param]
modulus = "6864797660130609714981900799081393217269435300143305409394463459185543183397656052122559640661454554977296311391480858037121987999716643812574028291115057151"
iterations = 2
security = 1

[user_test_auto_gen_setup]
user_setup_tx_chunk_size = 5
user_setup_tx_in_per_tx = 3
user_setup_tx_max_count = 100000

#first node is leader
[[compute_nodes]]
address = "127.0.0.1:12300"

[[storage_nodes]]
address = "127.0.0.1:12330"

[[miner_nodes]]
address = "127.0.0.1:12340"

[[user_nodes]]
address = "127.0.0.1:12360"

[[user_nodes]]
address = "127.0.0.1:12361"
