name: manual-build-and-push

on:
  workflow_dispatch:
    inputs:
      node_type:
        description: "enter a node type"
        default: "mempool"
        required: true
        type: choice
        options:
          - mempool
          - miner
          - user
          - storage

permissions:
  contents: read
  packages: write
  security-events: write

jobs:
  build:
    uses: ./.github/workflows/node-build.yml
    with:
      REGISTRY: ${{ vars.REGISTRY }}
      NODE_TYPE: ${{ inputs.node_type }}
    secrets: inherit

  manifest:
    needs: [build]
    uses: ./.github/workflows/node-manifest.yml
    with:
      REGISTRY: ${{ vars.REGISTRY }}
      NODE_TYPE: ${{ inputs.node_type }}
    secrets: inherit
